.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url(https://img.alicdn.com/imgextra/i4/O1CN011c4RaF1DkpqTaZ6l6_!!6000000000255-2-tps-3000-1353.png)
    no-repeat center center;
  background-size: cover;
  background-color: #1c1c1b;
  img {
    max-width: 75%;
  }
}
